REDIRECT_URI=http://localhost:8501/oauth2callback
COOKIE_SECRET=makeareallylongcookiestringforsecurity
CLIENT_ID=YOURCLIENTIDFROMCLERK
CLIENT_SECRET=YOURCLIENTSECRETFROMCLERK
SERVER_METADATA_URL=https://YOURCLERKMETADATAURL/.well-known/openid-configuration